%h1 Let's Create a New Author (Eventually)

%p.greeting= "Hello, #{current_user.name}!"

%h2 Author Info
%ul
  %li
    %b Name
    = @author.name
  %li
    %b Email
    = @author.email
  %li
    %b Username
    = @author.nickname

%h2= link_to 'Log Out', logout_url
